/* .App {
  text-align: center;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: Tahoma; */
  font-family: "Roboto", sans-serif;

}

fieldset h1 {
  text-align: center;
}

fieldset p {
  padding-top: 1rem;
  text-align: center;
}

#authentication {
  margin-top: 2rem;
}

label {
  display: block;
  padding: 1.5vh 0;
}

input,
select,
textarea {
  width: 100%;
  min-height: 4.5vh;
  margin: 0.8vh 0;
  border-radius: 100px;
  font-size: 1.1rem;
  padding-left: 0.5em;
}

input[type=password]::placeholder {
  transform: translate3d(0, 2px, 0);
}

input:focus {
  padding-left: 0.6em;
  border: none;
  outline: none;
  transition: 0.2s ease-in-out;
  background-color: rgb(150, 206, 225);
  box-shadow: 0 0 8px #00b894;
}

fieldset {
  width: 70%;
  border: none;
  margin: 1rem auto;
}

.inline {
  width: unset;
  vertical-align: middle;
  margin: 0 0.4rem 0 0;
}

.inline:focus {
  box-shadow: none;
}

.AuthBtn,
.DetaBtn {
  width: 100%;
  color: white;
  background-color: #48488a;
  padding: 0.4rem 0;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 100px;
  margin-top: 0.5rem;
}

.AuthBtn:hover {
  background-color: rgb(63, 125, 176);
  box-shadow: 0 0 10px rgb(13, 103, 231);
  border: none;
}

.DetaBtn:hover {
  background-color: rgb(203, 86, 73);
  box-shadow: 0 0 10px rgb(217, 59, 31);
  border: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1.5rem auto;
}

.con1 {
  max-width: 50%;
  margin: 8vh 0;
  display: flex;
  align-self: center;
}

.con1 img {
  max-width: 100%;
  flex-shrink: 0;
  height: auto;
}

.con2 {
  width: 50%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: cadetblue;
}

a:hover {
  color: rgb(46, 102, 145);
}

.valiError {
  color: rgb(206, 167, 40);
}

.login {
  border-radius: 1.5em;
  border: 2px solid black;
  width: 40vw;
  background-color: rgb(70, 64, 64);
  box-shadow: rgb(1 1 1) -9px -7px 20px 3px, rgb(0 0 0) 1px 13px 20px 4px;
  ;
  color: white;
  margin: 25vh auto;
  padding-bottom: 2em;
  box-sizing: border-box;
}

.main_login {
  height: 100vh;
  /* background: #00b894 url("../public/images/back_img.jpg") center; */
  background-color: rgb(40 42 48);
  background-size: cover;
  overflow: hidden;
  margin: auto;
}

.menu {
  font-size: 2rem;
  padding: 10px 20px;
  background-color: black;
  color: white;
  display: block;
  width: 100%;
}

.nav {
  height: 100%;
  width: 150px;
  position: absolute;
  background-color: #b8b3b3d6;
  /* z-index: 1; */
  transition: 0.5s ease;
  left: 0;
  top: 0;
}

ul {
  width: 100%;
  list-style: none;
}

ul li {
  display: block;
  width: 100%;
  margin: 10px 0;
}

ul li a {
  color: black;
  padding: 8px 15px;
  display: block;
  font-size: 20px;
  letter-spacing: 1px;
  transition: 0.3s;
  overflow: hidden;
}

ul li:hover a {
  background-color: #225b35;
  color: white;
  letter-spacing: 3px;
}

.mainDetails {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.budDetail {
  display: flex;
  width: 50%;
  background: #b8b3b3d6;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0.6rem;
  border-radius: 20px;
  margin: 0.5em;
}

.budDetail2 {
  width: 45%;
  text-align: end;
  /* background-color: antiquewhite; */
}

.trans {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  margin: 0.6em 1em;
  box-shadow: inset -1px -2px 4px 0px #a29292;
  border-radius: 10px;
  transition: 0.3s ease;
}

.trans:hover {
  /* background-color: #00b894; */
  box-shadow: 0 0 8px #a29292;
  transform: scale(1.01);
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
  margin: 0.8em;

}

@media screen and (max-width: 900px) {

  .con1,
  .con2 {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: none;
  }

  .con1 img {
    width: 100vw;
  }

  .login {
    width: fit-content;
  }

  .budDetail,
  .budDetail2 {
    width: 100%;
  }

  .mainDetails {
    display: block;
    margin-top: 3rem;
  }
}